<nav class="navbar navbar-expand-sm bg-info navbar-dark">
  <!-- Navbar text-->
  <span class="navbar-text" style="color:black">
    <h3> E-Commerce </h3>
    <h5><i class="fa fa-shopping-cart" aria-hidden="true"></i> {{count}} item/s in your cart</h5>
  </span>
</nav>

<div class="container">		

  <div class="col-lg-4 col-sm-6 float-left" *ngFor='let product of products'>
	<div class="row">
		<div class="card" style="width: 18rem;">
  <img class="card-img-top" [src]="product.imageUrl" alt="Loading Img">
  <div class="card-body">
    <h5 class="card-title">{{product.productName}} Price: {{product.price | currency}}</h5>
    <button class="btn btn-primary" (click)="addProductsToCard(product)" [disabled]="!product.enabled">Add to Cart</button> 
    <button class="btn btn-danger" (click)="deleteProduct(product)" [disabled]="product.enabled">Remove<i class="fa fa-trash" aria-hidden="true"></i></button>
  </div> 
</div>
</div>
</div>
</div>
 

